<app-banner title="signup"></app-banner>
  
<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <form [formGroup]="searchForm">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="stadiumName" placeholder="stadiumName">
              </div>
              <div *ngIf="searchForm.controls['stadiumName'].invalid && 
              (searchForm.controls['stadiumName'].touched ||
              searchForm.controls['stadiumName'].dirty)">
                <div *ngIf="searchForm.controls['stadiumName'].errors.required">stadiumName is required</div>
                <div *ngIf="searchForm.controls['stadiumName'].errors.minlength">stadiumName must have at least 3 chars</div>
              </div>
            <div class="form-group text-center">
              <input type="submit" class="btn btn-primary py-3 px-5" [disabled]="searchForm.invalid" (click)="search()" value="search">
            </div>
          </form> 
          <div *ngIf="!errorMsg">
            <p>team name :{{findedTeam.name}}</p>
            <p>team owner :{{findedTeam.owner}}</p>
          </div>
          <div *ngIf="errorMsg">
            <p> {{errorMsg}}</p>
          </div>
         
        </div>
        
      </div>
    </div>
  </div>

