<app-banner title="signup"></app-banner>
<!-- {{ y  | asterix| reverse }} -->

  
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <form [formGroup]="signupForm">
            <div class="form-group">
                <input type="text" class="form-control" formControlName="firstName" placeholder="FirstName">
              </div>
              <div *ngIf="signupForm.controls['firstName'].invalid && 
              (signupForm.controls['firstName'].touched ||
              signupForm.controls['firstName'].dirty)">
                <div *ngIf="signupForm.controls['firstName'].errors.required">firstName is required</div>
                <div *ngIf="signupForm.controls['firstName'].errors.minlength">firstName must have at least 3 chars</div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" formControlName="lastName" placeholder="LastName">
              </div>
              <div *ngIf="signupForm.controls['lastName'].invalid && 
              (signupForm.controls['lastName'].touched ||
              signupForm.controls['lastName'].dirty)">
                <div *ngIf="signupForm.controls['lastName'].errors.required">lastName is required</div>
                <div *ngIf="signupForm.controls['lastName'].errors.minlength">lastName must have at least 4 chars</div>
              </div>
            <div class="form-group">
              <input type="email" class="form-control" formControlName="email" placeholder="Email">
            </div>
            <span> {{errorMsg}}</span>
            <div *ngIf="signupForm.controls['email'].invalid && 
            (signupForm.controls['email'].touched ||
            signupForm.controls['email'].dirty)">
              <div *ngIf="signupForm.controls['email'].errors.required"> email is required</div>
              <div *ngIf="signupForm.controls['email'].errors.email"> please check email format</div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" formControlName="pwd" placeholder="Password">
            </div>
            <div *ngIf="signupForm.controls['pwd'].invalid && 
            (signupForm.controls['pwd'].touched ||
            signupForm.controls['pwd'].dirty)">
              <div *ngIf="signupForm.controls['pwd'].errors.required">pwd is required</div>
              <div *ngIf="signupForm.controls['pwd'].errors.minlength"> pwd need at least 8 chars</div>
              <div *ngIf="signupForm.controls['pwd'].errors.maxlength"> pwd have at most 12 chars</div>
            </div>
            <div class="form-group">
              <input type="number" class="form-control" formControlName="tel" placeholder="tel">
            </div>
            <div *ngIf="signupForm.controls['tel'].invalid && 
            (signupForm.controls['tel'].touched ||
            signupForm.controls['tel'].dirty)">
              <div *ngIf="signupForm.controls['tel'].errors.required">tel is required</div>
              <div *ngIf="signupForm.controls['tel'].errors.min"> tel need at least 8 digits</div>
            </div>
            <div class="form-group" style="visibility: hidden; display: none;" >
              <input type="file" class="form-control" #filePicker (change)="onImageSelected($event)">
            </div>
            <div class="text-center" style="margin-bottom: 20px;">
              <button class="btn btn-warning" (click)="filePicker.click()">
                seelect your avatar
              </button>
            </div>
            <div class="text-center mb-2"> 
              <img [src]="imagePreview" *ngIf ="imagePreview" alt="" style="width: 200px;">
            </div>
           
            
            <div class="form-group text-center">
              <input type="submit" class="btn btn-primary py-3 px-5" (click)="signup()" value="Signup">
            </div>
          </form> 
          <!-- {{signupForm.value | json}}  <br> {{signupForm.valid | json}} -->
        </div>
        
      </div>
    </div>
  </div>
